a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.background-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-container{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.gap-login {
  margin-top: 20px;
}

.button-primary {
  width: 100%;
  padding: 10px 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
}

.text-primary {
  text-align: right;
  color: var(--primary-color);
}

.button-primary:hover {
  background-color: #009ba0;
  cursor: pointer;
}

.input-style {
  display: block;
  border: 1px solid red;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.input-style:focus {
  outline: none;
  border-color: green;
}

button {
  align-self: center;
}
